{% load static %}
{% load thumbnail %}

{% with request.resolver_match.view_name as view_name %}

<header class="header">
  <nav class="navbar navbar-light">
    <ul class="container">

      <li class="nav-pills">
        <a class="about
          {% if view_name  == 'about:author' %}active{% endif %}"
           href="{% url 'about:author' %}">
          <img src="{% static 'img/about.svg' %}" alt="logo">
        </a>
      </li>

      <li class="nav-pills">
        <a class="logo" href="{% url 'posts:index' %}">
          <img src="{% static 'img/fragments.svg' %}" alt="logo">
        </a>
      </li>

      <li class="nav-pills">
        <a href="#" class="menu-btn h--right user-photo">
          {% if request.user.is_authenticated and  request.user.photo %}
            {% thumbnail request.user.photo "32x32" crop="center" upscale=True as im %}
              <img class="" src="{{ im.url }}" alt="img">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'img/no_photo.svg' %}" alt="user">
          {% endif %}
        </a>

        <ul id="menu" class="offside">
          {% if request.user.is_authenticated %}
            <li class="username">
              {% if request.user.photo %}
                {% thumbnail request.user.photo "32x32" crop="center" upscale=True as im %}
                  <img class="user-photo" src="{{ im.url }}" alt="img">
                {% endthumbnail %}
              {% else %}
                <img src="{% static 'img/no_photo.svg' %}" alt="user">
              {% endif %}
              <span>
                {% if user.get_full_name %}
                  {{ user.get_full_name }}
                {% else %}
                  {{ user.username }}
                {% endif %}
              </span>
            <li>
            <li class="nav-item">
              <a class="
                  {% if view_name  == 'posts:post_create' %}active{% endif %}"
                 href="{% url 'posts:post_create' %}">Новая запись</a>
            </li>
            <li class="nav-item">
              <a class="
                  {% if view_name  == 'users:password_change' %}active{% endif %}"
                 href="{% url 'users:password_change' %}">Изменить пароль</a>
            </li>
            <li class="nav-item">
              <a class=""
                 href="{% url 'users:logout' %}">Выйти</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="
                  {% if view_name  == 'users:login' %}active{% endif %}"
                 href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="
                  {% if view_name  == 'users:signup' %}active{% endif %}"
                 href="{% url 'users:signup' %}">Регистрация</a>
            </li>
          {% endif %}
        </ul>
      </li>

    </ul>
  </nav>
</header>

{% endwith %}