{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <img src="{% static 'img/avatar.jpg' %}" alt="photo"
         class="author-photo">
    <h1>Привет, меня зовут Андрей!</h1>
    <p>
      Мне 42, живу в Екатеринбурге.<br>
      Учусь на Python-разработчика в Яндекс.Практикум, и это мой учебный
      проект.<br>
      Можете использовать этот проект для выражения своих мыслей.<br>
      На этом всё. До новых встреч!
    </p>
  </div>
{% endblock %}