{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="mb-5">
      {% thumbnail author.photo "200x200" crop="center" upscale=True as im %}
        <img class="author-photo" src="{{ im.url }}" alt="img">
      {% endthumbnail %}
      <h1>{{ author.get_full_name }}</h1>
      {{ author.about|safe|escape }}
      <h4>Всего постов: {{ count }}</h4>
      {% if request.user != author %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}
      {% endif %}
    </div>
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}